/**********************************************************************\

Styles for FuncPlotter manual

\**********************************************************************/

@import url("blankaspect-manual.css");

.p.quotation {
  font-size: 90%;
  margin-top: 0.6em;
  margin-left: 2.0em;
  margin-right: 2.0em;
}

table.operation {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
table.operation td {
  border: 1px solid;
  padding: 0.1em 0.6em;
}
table.operation td code {
  background-color: transparent;
}

table.simpleOperand {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
table.simpleOperand td {
  border: 1px solid;
  padding: 0.1em 0.6em;
}
table.simpleOperand td code {
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  table.operation td {
    border-color: #B4B8C8;
  }
  table.operation td.col1 {
    background-color: #F8F6E0;
  }

  table.simpleOperand td {
    border-color: #B4B8C8;
  }
  table.simpleOperand td.col1 {
    background-color: #F8F6E0;
  }
}

@media (prefers-color-scheme: dark) {
  table.operation td {
    border-color: #606888;
  }
  table.operation td.col1 {
    background-color: #382420;
  }

  table.simpleOperand td {
    border-color: #606888;
  }
  table.simpleOperand td.col1 {
    background-color: #382420;
  }
}

/*--------------------------------------------------------------------*/
